# ======================
# IntelliJ / IDE
# ======================
.idea/
*.iml

# ======================
# Maven / Spring Boot
# ======================
target/
*.class

# ======================
# Logs
# ======================
*.log
logs/

# ======================
# Angular
# ======================
node_modules/
dist/
.angular/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db