<div class="auth-container">

<div class="background"></div>

<div class="auth-card">

<h2>Forgot Password</h2>

<div class="success" *ngIf="message">
{{message}}
</div>

<div class="error" *ngIf="error">
{{error}}
</div>

<form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

<input type="email" placeholder="Enter Email"
formControlName="email">

<div class="validation"
*ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.invalid">
Valid email required
</div>

<input type="password"
placeholder="New Password"
formControlName="newPassword">

<input type="password"
placeholder="Confirm Password"
formControlName="confirmPassword">

<button type="submit">Reset Password</button>

</form>

</div>

</div>